<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="icon"
      sizes="306x306"
      href="{{ '/assets/favicon-306.png' | relative_url }}"
    />
    <link
      rel="icon"
      sizes="32x32"
      href="{{ '/assets/favicon-32.png' | relative_url }}"
    />

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
    <link
      rel="stylesheet"
      href="{{ '/assets/style.css?v=' | append: site.github.build_revision | relative_url }}"
      media="screen"
      type="text/css"
    />

    {% seo %}
  </head>

  <body>
    {{ content }}
  </body>
</html>
